{{define "schedule_paused_subject"}}Your replenishment schedule is paused{{end}}
{{define "schedule_paused_body"}}<p>Your automatic reordering has been paused. No further orders will be placed until you resume it.</p>
<p>If you'd like to resume your schedule, or have questions, contact us at {{.SupportEmail}}.</p>
{{end}}
