{{define "schedule_canceled_subject"}}Your replenishment schedule has been canceled{{end}}
{{define "schedule_canceled_body"}}<p>Your automatic reordering has been canceled, and no further orders will be placed.</p>
<p>If this wasn't intentional, contact us at {{.SupportEmail}} and we can help.</p>
{{end}}
